<footer class="footer container">
    <h3>MejoresSeries</h3>
    <ul>
        <li><a href="/principal">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="/catalogo">Peliculas</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</footer>